// Misc.
		$misc_z-index-base:				10000;

// Duration.
		$duration_menu:						0.5s;
		$duration_transition:					0.2s;

// Size.

		$size_element-height:				2.75em;
		$size_element-margin:				2em;
		$size_section-spacing:			3em;
		$size_section-spacing-small:		1.5em;
		$size_menu:						25em;

// Font.

		$font_family:						('Source Sans Pro', Helvetica, sans-serif);
		$font_family-fixed:				('Courier New', monospace);
		$font_family-heading:				('Raleway', Helvetica, sans-serif);
		$font_weight:						400;
		$font_weight-bold:				700;
		$font_weight-heading:				400;
		$font_weight-heading-bold:		800;
		$font_weight-heading-extrabold:	900;
		$font_kerning-heading:			0.25em;
	

// Palette.

		$palette_bg:							#ffffff;
		$palette_bg-alt:						#f4f4f4;
		$palette_fg:							#646464;
		$palette_fg-bold:					#3c3b3b;
		$palette_fg-light:					#aaaaaa;
		$palette_border:						rgba(160,160,160,0.3);
		$palette_border-bg:					rgba(160,160,160,0.075);
		$palette_border-alt:					rgba(160,160,160,0.65);
		$palette_accent:						#2ebaae;



$primary: $palette_accent;

$enable-rounded:false;
$font-family-sans-serif: "Raleway", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
@import "~bootstrap/scss/bootstrap";


$fa-font-path: "/assets/fonts";
@import "~font-awesome/scss/font-awesome";


@import "_article";
@import "_card";
@import "_gallery";
@import "_layout";
@import "_navigation";
@import "_page";
@import "_search";
@import "_typography";

// NAVBAR

.custom-bg-transparent{
	// old: #f8f9fa 
	background-color: rgba(248, 249, 250, 0.95);
	> a.language{
		background-color: rgba(233, 236, 239, 0.95);
	}
}

#intro {
	> a.logo{
		border-bottom: none;
	}
	header h2 {
		margin-top: -70px;
	}
	svg {
		width: 150px;
	}
}

a.btn.btn-outline-primary:hover{
	background-color: #2ebaae80;
}

a.card.story:hover{
	border-bottom-color: inherit;
	text-decoration: none;
}

/*HOMEPAGE*/
div.title h1{
	text-align: center;
}

body.root > article > header > div.meta{
	text-align: center;
}

.image.featured{
	margin: 0 0 3em 0;
}

ul.tags{
	column-count:4;
	list-style-type: none;
}
/*FOOTER*/
#footer > ul > li > a {
	border-bottom: none;
}

#footer ul.icons {
	font-size: 2rem;
	> li.list-inline-item:not(:last-child){
		margin-right: 1.5rem;
	}
}
/*INSTAGRAM SINGLE PAGE*/
body#instagram{
	margin-top: 5rem;
	img{
	width:100%;
	}
}
