{{ define "bodyclasses" }}single page contentgrouptype-{{ .Section }} contentgroupname-{{ .Title | urlize }}{{ end }}
{{ define "main" }}


				<!-- Main -->

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h1 class="text-center"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
										{{ with .Params.subtitle }}
										<p class="text-center">{{ . }}</p>
										{{ end }}
									</div>
								</header>
								
								<span class="image featured img-fluid"><img src="{{ partial "header_image" . }}" alt="" /></span>
								
								<section class="article-body">{{ .Content }}</section>

							</article>

{{ end }}