{{ define "bodyclasses" }}
	single instagram contentgrouptype-instagrams contentgroupname-{{ .URL }}
{{ end }}

{{ define "bodyid" }}
	instagram
{{ end }}

{{ define "main" }}
{{ $baseUrl := .Site.BaseURL }}

	
		<!-- Wrapper -->
		<div id="large-background" style="background: linear-gradient(360deg, rgba(244,244,244,1) 0%, rgba(244,244,244, 0) 50%), url('{{ partial "header_image" . }}') 100% no-repeat / cover;"></div>
			<div id="wrapper">

				{{ partialCached "top_navigation.html" . }}

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<section class="article-body">
								<img src="{{ with .Resources.GetMatch "header" }} {{ .Permalink }}{{ end }}" alt="">
								</section>

									<ul class="actions pagination">
									{{ if .PrevInSection }}
										<li><a href="{{ .PrevInSection.URL | relLangURL }}" class="button big previous">{{ i18n "older_photos" }}</a></li>
									{{ else }}
										<li><a href="#" class="disabled button big previous">{{ i18n "older_photos" }}</a></li>
									{{ end }}
									{{ if .NextInSection }}
											<li><a href="{{ .NextInSection.URL | relLangURL }}" class="button big next">{{ i18n "newer_photos" }}</a></li>
									{{ else }}
											<li><a href="#" class="disabled button big next">{{ i18n "newer_photos" }}</a></li>
									{{ end }}
									</ul>

								<footer>
									<ul class="stats">

									<li><a href="{{ $baseUrl }}instagram" class="">instagram</a></li>

									</ul>
								</footer>
							</article>

					</div>

					{{ partial "pagination.html" }}

					<a name="comments"></a>
					{{ template "_internal/disqus.html" . }}

			</div>
			
{{ end }}