{{ define "bodyclasses" }}single instagram contentgrouptype-instagrams contentgroupname-{{ .URL }}{{ end }}

{{ define "bodyid" }}instagram{{ end }}

{{ define "main" }}

<div class="row justify-content-center">
	<div class="col-md-10 col-xs-12 col-lg-8">
		<!-- Post -->
		<div class="card-deck">
			<article class="card">
				<section class="card-body">
					<img src="{{- with .Resources.GetMatch "header" -}}{{ .Permalink }}{{ end }}" alt="">
				</section>

				<footer>
					{{ if .PrevInSection }}
						<a href="{{ .PrevInSection.URL | relLangURL }}" class="btn btn-light big previous">{{ i18n "older_photos" }}</a>
					{{ else }}
						<a href="#" class="disabled btn btn-light big previous">{{ i18n "older_photos" }}</a>
					{{ end }}
					{{ if .NextInSection }}
							<a href="{{ .NextInSection.URL | relLangURL }}" class="btn btn-light big next">{{ i18n "newer_photos" }}</a>
					{{ else }}
							<a href="#" class="disabled btn btn-light big next">{{ i18n "newer_photos" }}</a>
					{{ end }}

					<ul class="list-inline">
						<li><a href="{{ .Site.BaseURL }}instagram" class="list-inline-item">{{ i18n "instagram" }}</a></li>
					</ul>
				</footer>
			</article>
		</div>
	</div>
</div>


					{{ partial "pagination.html" }}

					<a name="comments"></a>
					<div class="row mx-0">
						<div class="col-10 mx-auto">
							{{ template "_internal/disqus.html" . }}
						</div>
					</div>
			
{{ end }}