{{ partial "header.html" . }}
	<body class="instagram list-html">

		<!-- Wrapper -->
			<div id="wrapper">

				{{ partial "top_navigation.html" . }}

				<!-- Main -->
					<div id="main">
					{{ partial "title_section.html" . }}

					<div class="row">
						<div class="12u$">

							<section id="category-list">
								<div class="mini-posts">
									{{ $loop := (.Paginate (where (where .Data.Pages "Type" "!=" "page") ".Params.unlisted" "!=" true ) 9).Pages }}
								{{range $loop }}
									{{ .Render "summary"}}
								{{ end }}
								</div>
							</section>
						</div>
					</div>

						<div class="spacer"></div>

						{{ partial "pagination.html" . }}
					</div>

		</div>
		{{ partial "footer-links.html" . }}
	{{ partial "footer.html" . }}