{{ define "bodyclasses" }}post-list post-list-html contentgrouptype-{{ .Data.Singular }} contentgroupname-{{ .Title | urlize }} {{ end }}

{{ define "main" }}
 	<h1 class="text-center">{{ .Title }}</h1>

		<section id="category-list" class="card-group">
				<div class="row px-2 mx-0">
				{{ if eq .Section "post" }}
					{{range (.Paginate (where (where .Site.RegularPages ".Params.unlisted" "!=" true) "Section" "!=" "instagrams") 9).Pages }}
						{{ .Render "summary" }}
					{{ end }}
				{{ else }}
					{{range (.Paginate (where (where .Data.Pages ".Params.unlisted" "!=" true) "Section" "!=" "instagrams") 9).Pages }}
						{{ .Render "summary" }}
					{{ end }}
				{{ end }}
				</div>
		</section>

		{{ partial "pagination.html" . }}
{{ end }}