{{ partial "header.html" . }}
	<body class="single page contentgrouptype-{{ .Section }} contentgroupname-{{ .Title | urlize }}">
	{{ partial "googletagmanager.html" }}

		<!-- Wrapper -->
			<div id="wrapper">

				{{ partial "top_navigation.html" . }}

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">{{ .Title }}</a></h2>
										{{ with .Params.subtitle }}
										<p>{{ . }}</p>
										{{ end }}
									</div>
								</header>
								
								{{ with .Resources.GetMatch "header" }}
								{{ $cover := . }}
								{{ $image := $cover.Resize "1350x" }}
								<span class="image featured"><img src="{{ $image.RelPermalink }}" alt="" /></span>
								{{end}}
								
								<section class="article-body">{{ .Content }}</section>

							</article>

					</div>



			</div>
			{{ partial "footer-links.html" . }}
{{ partial "footer.html" . }}