{{ define "bodyclasses" }}single contentgrouptype-{{ .Section }} {{ with .Params.stories }}contentgroupname-{{ index . 0 | urlize }}{{ end }} article article-title-{{ .Title | urlize }}{{ end }}
{{ define "main" }}

						<div class="row mx-0">
								<!-- Post -->
									<article class="post col px-0 mx-0">
										<header>
											<div class="title text-center">
												<h1 itemprop="headline" >{{ .Title }}</h1>
												{{ with .Params.subtitle }}
												<p>{{ . }}</p>
												{{ end }}
											</div>
											<div class="meta text-center">
												{{ if .Params.author }}
													<a href="/about/{{ string .Params.author | urlize }}" itemprop="author" title="{{ .Params.author }}" class="author">{{ if .Params.avatar }} <img src="{{ $.Site.BaseURL }}images/avatar_{{ .Params.avatar }}.jpg" alt="" class="rounded-circle" /> {{ else }}<img src="{{ $.Site.BaseURL }}images/avatar_bruno.jpg" alt="" />{{ end }}</a>
												{{ else }}
													<a href="{{ .Site.Params.authors.Bruno.authorlink }}" title="{{ .Site.Params.authors.Bruno.name }}" class="author"><img src="{{ $.Site.BaseURL }}images/avatar_bruno.jpg" alt="Bruno Amaral" class="rounded-circle" /></a>
												{{ end }}
												<time class="published" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "January 2, 2006" }}</time>

												<p class="readingtime">{{ .ReadingTime }} min read</p>
												{{ if .IsTranslated }} Translations:
												    {{ range .Translations }}
												        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
												    {{ end}}
												{{ end }}
											</div>
										</header>

												{{ with $.Page.Params.options }}
												{{ $options := (index $.Page.Params.options 0) }}
												{{ if eq $options.showHeader true }}
													{{ with $.Page.Resources.GetMatch "header" }}
													<img src="{{ .RelPermalink }}" alt="" itemprop="image" class="img-fluid image featured" />
													{{end}}
												{{ end }}
												{{ else }}
													<img src="{{ with .Resources.GetMatch "header" }}{{ .RelPermalink }}{{end}}" alt="" itemprop="image" class="img-fluid image featured" />
												{{ end }}

										<section class="article-body">{{ .Content }}</section>
										<footer>
											<ul class="stats list-inline">

									{{ if isset .Params "categories" }}
									<li class="list-inline-item">{{ i18n "posts_categorized_as" }}:</li> 
										{{ range $index, $category := .Params.categories }}
											<li class="list-inline-item"><a href="{{ $.Site.BaseURL }}categories/{{ $category | urlize }}" class="">{{ $category }}</a></li>
										{{ end }}
									{{ end }}

									{{ if isset .Params "stories" }}
										{{ range $index, $story := .Params.stories }}
											<li><a href="{{ $.Site.BaseURL }}stories/{{ $story | urlize }}" class="">{{ $story }}</a></li>
										{{ end }}
									{{ end }}

											</ul>
										</footer>
									</article>
						</div>

					{{ if .Params.stories }} 
					
					{{ $name_url := index .Params.stories 0 | urlize }}
					{{ $this := $.Site.GetPage ( printf "/stories/" $name_url) }}

					<section id="category-list" class="px-5">
						<h2>{{ $this.Params.story_title }}</h2>

						<h3>{{ $this.Params.story_subtitle}}</h3>

						<p>Select one of the chapters</p>

						<div class="card-deck">
							<div class="row">
							{{ range (index .Site.Taxonomies.stories $name_url ) }}
								{{ .Render "summary" }}
							{{end}}
							</div>
						</div>
					</section>
					{{end}} 

					{{ partial "pagination.html" }}

					<a name="comments"></a>
					<div class="row mx-0">
						<div class="col-10 mx-auto">
							{{ template "_internal/disqus.html" . }}
						</div>
					</div>


			
{{ end }}
