{{ partial "header.html" . }}
	<body class="single">
	{{ partial "googletagmanager.html" }}
		<!-- Wrapper -->
		<div id="large-background" style="background: linear-gradient(360deg, rgba(244,244,244,1) 0%, rgba(244,244,244, 0) 50%), url('{{ if (not (isset .Params "featured_image")) }}{{ .Params.featured_image }}{{ else }}/images/fractal_full.png{{ end }}') 100% no-repeat / cover;"></div>
			<div id="wrapper">

				{{ partial "top_navigation.html" . }}

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2 itemprop="headline" >{{ .Title }}</h2>
										{{ with .Params.subtitle }}
										<p>{{ . }}</p>
										{{ end }}
									</div>
									<div class="meta">
										<time class="published" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "January 2, 2006" }}</time>
										{{ if .Params.author }}
											<a href="/about/{{ string .Params.author | urlize }}" itemprop="author" title="{{ .Params.author }}" class="author">{{ if .Params.avatar }} <img src="{{ .Site.BaseURL }}images/avatar_{{ .Params.avatar }}.jpg" alt="" /> {{ else }}<img src="{{ .Site.BaseURL }}images/avatar_bruno.jpg" alt="" />{{ end }}</a>
										{{ else }}
											<a href="/about/me" title="{{ .Site.Params.authors.Bruno.name }}" class="author"><img src="{{ .Site.BaseURL }}images/avatar_bruno.jpg" alt="" /></a>
										{{ end }}
										<p class="readingtime">{{ .ReadingTime }} {{ i18n "reading_time" }}</p>
										{{ if .IsTranslated }} Translations:
										    {{ range .Translations }}
										        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
										    {{ end}}
										{{ end }}
									</div>
								</header>
								<span class="image featured"><img src="{{ .Params.featured_image }}" alt="" itemprop="image" class="cover" /></span>
								<section class="article-body">
									{{ .Content }}
								</section>
								<footer>
									<ul class="stats">

							{{ if isset .Params "categories" }}
								{{ $baseUrl := .Site.BaseURL }}
								{{ range $index, $category := .Params.categories }}
									<li><a href="{{ $baseUrl }}categories/{{ $category | urlize }}" class="">{{ $category }}</a></li>
								{{ end }}
							{{ end }}

									</ul>
								</footer>
							</article>

					</div>
					{{ if .Params.stories }}
					<section id="category-list">
					<h3>Chapters</h3>

						<div class="mini-posts">
						{{ $name := index .Params.stories 0 }}
						{{ $name_url := $name | urlize }}
						{{ $stories := index .Site.Taxonomies.stories $name }}
						{{ range $stories.Pages }}
							{{ .Render "summary" }}
						{{end}}
						</div>
					</section>
					{{end}} 

					{{ partial "pagination.html" }}

					<a name="comments"></a>
					{{ template "_internal/disqus.html" . }}



			</div>
			{{ partial "footer-links.html" . }}
{{ partial "footer.html" . }}
