{{ define "bodyclasses" }}
terms contentgrouptype-terms contentgroupname-the-stories article-title-subhomepage	
{{ end }}

{{ define "main" }}
					<section class=""> 
					<h3 class="text-center">{{ i18n "stories" }}</h3>
						<div class="card-deck">

						<div class="row px-3 mx-0">
							{{ $stories := where (where .Site.Pages "Section" "stories") ".Params.unlisted" "!=" true | intersect (where .Site.Pages "Params.story_published" "=" true) }}

							{{ range $stories }} 
								{{ .Scratch.Set "columns" (len $stories) }}
								{{ partial "story-card.html" . }}
							{{ end }}
						</div>
						</div>
					</section>
					
					<section id="all-categories">
					<article class="px-3">

						<h3>{{ i18n "categories" }}</h3>
							<ul>		
									{{ range $key, $value := .Site.Taxonomies.categories }}
										<li><a href="{{ printf "categories/%s/" $key | relLangURL }}" title="{{ i18n "posts_categorized_as" }} {{ $key | humanize }}">{{ $key | humanize }}</a> ({{ len $value }})</li>
									{{ end }}
							</ul>

							<h3>{{ i18n "tags" }}</h3>
								<ul class="tags">			
										{{ range $key, $value := .Site.Taxonomies.tags }}
										<li><a href="{{ printf "tags/%s/" $key | relLangURL }}" title="{{ i18n "posts_tagged_with" }} {{ $key | humanize }}">{{ $key | humanize }}</a> ({{ len $value }})</li>
										{{ end }}
								</ul>

					</article>
					</section>

{{ end }}