{{ define "main" }}

<body class="terms contentgrouptype-terms contentgroupname-the-stories article-title-subhomepage">
{{ partialCached "googletagmanager.html" . }}
		<!-- Wrapper -->
		<div id="wrapper">

				{{ partialCached "top_navigation.html" . }}

				<!-- Main -->
				<div id="main">
					{{ partial "title_section.html" .}} 
					<section id="category-list">
					<h2>stories</h2>
						<div class="mini-posts">
						{{ $baseurl := .Site.BaseURL }}

						{{ $stories := where (where .Site.Pages "Section" "stories") ".Params.unlisted" "!=" true | intersect (where .Site.Pages "Params.story_published" "=" true)  }}
						{{ range $stories }} 
						{{ partial "story-card.html" . }}
						{{ end }}
						</div>
					</section>
					
					<section id="all-categories">
					<article class="post">

						<h2>{{ i18n "categories" }}</h2>
							<ul>
									{{ $baseurl := .Site.BaseURL }}
									<!-- {{ $list_posts := where (where (where .Data.Pages "Type" "post") ".Params.unlisted" "!=" true) ".Params.draft" "=" false }} -->
									{{ range $key, $value := .Site.Taxonomies.categories }}
										<li><a href="{{ $baseurl  }}categories/{{ $key | urlize  }}">{{ $key | humanize }}</a> ({{ len $value }})</li>
									{{ end }}
							</ul>

							<h2>{{ i18n "tags" }}</h2>
								<ul class="tags">
										{{ $baseurl := .Site.BaseURL }}
										{{ range $key, $value := .Site.Taxonomies.tags }}
										<li><a href="{{ $baseurl  }}tags/{{ $key | urlize  }}" title="Posts tagged with '{{ $key | humanize }}'">{{ $key | humanize }}</a> ({{ len $value }})</li>
										{{ end }}
								</ul>

					</article>
					</section>

				</div>

		</div>
		

		{{ end }}
