				<!-- Footer -->
					<section id="footer">
					<h2 class="sr-only">{{ i18n "related_links" }}</h2>
						<ul class="icons">
							<li><a href="https://twitter.com/brunoamaral" class="fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.linkedin.com/in/brunoamaral" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://www.facebook.com/Bruno-Amaral-118353851516878/" class="fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://instagram.com/brunoamaral" class="fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/brunoamaral" class="fa-github"><span class="label">Github</span></a></li>
							<li><a href="{{ .RSSLink }}" class="fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="{{ .Site.BaseURL }}contact" class="fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Bruno Amaral | <a href="/page/privacy-policy/">Privacy Policy</a></p>
					</section>