		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/skel-layout.min.js"></script>
			<script src="/assets/js/custom.js"></script>
			{{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>
			{{ else }}
			<script src="/assets/js/util-min.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main-min.js"></script>
			{{ end }}
			<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0"></script>
			{{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
			<script src="/assets/js/classie.js"></script>
			<script src="/assets/js/search.js"></script>
			{{ if .IsPage }}
			<script src="/assets/js/reader.js"></script>
			{{ end }}
			{{ else }}
			<script src="/assets/js/classie-min.js"></script>
			<script src="/assets/js/search-min.js"></script>
			{{ if .IsPage }}
			<script src="/assets/js/reader-min.js"></script>
			{{ end }}
			{{ end }}
			<script src="/assets/js/velocity/velocity.min.js"></script>
			<script src="/assets/js/velocity/velocity.ui.min.js"></script>
			<script src="/assets/js/animation.js"></script>
			<script type="application/ld+json">
			{ "@context": "http://schema.org", 
			{{ if .IsHome }}
			"@type": "WebSite",
			{{ else }}
			"@type": "Article",
			{{ end }}

			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "{{ .Permalink }}"
				},
			"headline": "{{ .Title }}",
			{{ with .Params.subtitle }}"alternativeHeadline": "{{ . }}",{{ end }}
			"image": "{{- if .IsHome -}}
						{{ .Site.BaseURL}}images/logo.png
						{{- else -}}
							{{- with $.Page.Resources.GetMatch "header" -}}
							{{ .Permalink }}
						{{- end -}}
						{{- end -}}",
			"author": {
			   "@type": "Person",
			   "name": "Bruno Amaral"
			},			 
			{{ with .Params.tags }}"keywords": "{{ range first 6 . }}{{ . }}{{ end }}",{{ end }} 
			"wordcount": "{{ .WordCount }}",
			"publisher": {
			 "@type": "Organization",
			 "name": "Bruno Amaral",
			 "logo": {
			   "@type": "ImageObject",
			   "url": "{{ .Site.BaseURL }}images/digital_insanity_logo.svg",
			   "height": 60
			 }
			},
			"url": "{{ .Site.BaseURL }}",
			"datePublished": "{{ if not .Date.IsZero }}{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}{{ end }}",
			"dateCreated": "{{ if not .Date.IsZero }}{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}{{ end }}",
			"dateModified": "{{ if not .Date.IsZero }}{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}{{ end }}",
			"description": "{{ if .Params.description }}{{ .Params.description | plainify }}{{ else }}{{ .Summary | plainify }}{{ end }}",
			"articleBody": "{{ .Plain  }}"
			}
			</script>

		</body>
</html>
