						{{ $loop := (where (where .Data.Pages "Type" "!=" "page") ".Params.unlisted" "!=" true ) }}

						<section id="category-list">
						{{ if eq .Paginator.PageNumber 1 }}
							<h2 class="only-small align-center">{{ i18n "latest_post" }}</h2>
						{{ end }}
						{{ range first 1 $loop }}
							<div class="mini-posts only-small">
							<article class="mini-post stories only-small">
								<header>
									<p>{{ .Date.Format "January 2, 2006" }}</p>
								</header>

								<a href="{{ .Permalink }}" class="image mini-featured-image" 
								style="background-image: url('{{- with .Resources.GetMatch "header" -}}
										{{- $cover := . -}}
										{{- $image := $cover.Fill "430x150" -}}{{- $image.RelPermalink -}}{{- else -}}{{- .Site.BaseURL -}}images/fractal_thumb.jpg{{- end -}}');"><h3 class="card-story-title">{{- .Title -}}</h3></a>
								
							</article>
							</div>
						{{ end }}
						{{ if eq .Paginator.PageNumber 1 }}
							<h2 class="only-small align-center">{{ i18n "stories" }}</h2>

							<div class="mini-posts">
							{{ $baseurl := .Site.BaseURL }}

							{{ $stories := where (where .Site.Pages "Section" "stories") ".Params.unlisted" "!=" true | intersect (where .Site.Pages "Params.story_featured" "=" true)  }}

							{{ range $stories }} 
								<article class="mini-post stories">
									<header>
										{{ with .Params.story_subtitle }} <p>{{ . }}</p>{{ end }}
									</header>
									<a href="{{ .Permalink }}" class="image mini-featured-image" style="background-image: url('{{ with .Resources.GetMatch "sectionHeader" }}{{ $cover := . }}{{ $image := $cover.Fill "430x150" }}{{ $image.RelPermalink }}{{end}}'); background-position: 40% 40%;"><h3 class="card-story-title">{{  .Params.story_title }}</h3></a>
								</article>

							{{ end }}
							</div>
						{{ end }}
						</section>