						{{ $loop := (.Paginate (where (where .Data.Pages "Type" "!=" "page") ".Params.unlisted" "!=" true ) 1).Pages }}

						<section id="category-list">
						{{ if eq .Paginator.PageNumber 1 }}
							<h2 class="only-small align-center">{{ i18n "latest_post" }}</h2>
						{{ end }}
						{{ range $loop }}
							<div class="mini-posts only-small">
							<article class="mini-post stories only-small">
								<header>
									<p>{{ .Date.Format "January 2, 2006" }}</p>
								</header>
								{{- if .Params.featured_image -}}
								<a href="{{ .Permalink }}" class="image mini-featured-image" 

								style="background-image: url('{{- .Site.BaseURL -}}{{- .Params.featured_image -}}'); background-position: 40% 40%;"><h3 style="background-color: rgba(255,255,255,0.7)">{{- .Title -}}</h3></a>
								{{- else -}}
								<a href="{{ .Permalink }}" class="image mini-featured-image" style="background-image: url('{{ .Site.BaseURL }}images/fractal_thumb.png'); background-position: 40% 40%;"><h3 style="background-color: rgba(255,255,255,0.7)">{{ .Title }}</h3></a>
								{{ end }}
							</article>
							</div>
						{{ end }}
						{{ if eq .Paginator.PageNumber 1 }}
							<h2 class="only-small align-center">{{ i18n "stories" }}</h2>
							<div class="mini-posts">
							
								<article class="mini-post stories">
									<header>
										<p>Pinterest Meets the Internet of Things</p>
									</header>
									<a href="{{ .Site.BaseURL }}stories/coffee-table/" class="image mini-featured-image"{{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }} style="background-image: url('{{ .Site.BaseURL }}stories/coffee-table/coffee_header.jpg'); {{ else }} style="background-image: url('{{ .Site.BaseURL }}/stories/coffee-table/coffee_header_500.jpg'); {{ end }}background-position: 40% 40%;"><h3 style="background-color: rgba(255,255,255,0.7)">The Coffee Table</h3></a>
								</article>

								<article class="mini-post stories">
								<header>
								<p>um exercício, uma tentativa de criatividade</p>
								</header>
								<a href="https://brunoamaral.eu/stories/paginas-tantas/" class="image mini-featured-image" style="background-image: url('/stories/paginas-tantas/caderno_500.jpg'); background-position: 40% 40%;"><h3 style="background-color: rgba(255,255,255,0.7)">Às Páginas Tantas</h3></a>
								</article>

								<article class="mini-post stories">
								<header>
								<p>A story to test your wit</p>
								</header>
								<a href="https://brunoamaral.eu/stories/crypto/" class="image mini-featured-image" style="background-image: url('/stories/crypto/DeathtoStock_IntotheLight-10_500.jpg'); background-position: 40% 40%;"><h3 style="background-color: rgba(255,255,255,0.7)">CryptoNovel</h3></a>
								</article>


							</div>
						{{ end }}
						</section>