{{ partial "header.html" . }}
	<body class="single page">

		<!-- Wrapper -->
			<div id="wrapper">

				{{ partial "top_navigation.html" . }}

				<!-- Main -->
					<div id="main">
						{{ partial "title_section.html" .}}


						<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Vou continuar a procurar</a></h2>
										<p>album/6UYUblITZs7VZf3pPhfQzJ</p>
									</div>
								</header>
								<p style="text-align: center;">Não estou a encontrar o que procuras. Sugiro que uses a pesquisa do site ou <a href="/page/contact"><strong>envies um email</strong></a> para eu tentar ajudar.</p>
								
							</article>

					</div>

			</div>

			{{ partial "footer-links.html" . }}

{{ partial "footer.html" . }}