{{ partial "header.html" . }}
	<body>						

		<!-- Wrapper -->
			<div id="wrapper">

				{{ partial "top_navigation.html" . }}

				<!-- Main -->
					<div id="main">
						{{ partial "title_section.html" . }}

						{{ $loop := (where (where .Data.Pages "Type" "!=" "page") ".Params.unlisted" "!=" true ) }}

						{{ partial "highlighted_stories.html" . }}
						{{ range first 1 $loop }}
							{{ .Render "li" }}
						{{ end }}

						{{ partial "pagination.html" . }}
					</div>

			</div>

			{{ partial "footer-links.html" . }}

{{ partial "footer.html" . }}