{{ define "bodyclasses" }}
	root
{{ end }}
{{ define "main" }}

	
		<!-- Wrapper -->
			<div id="wrapper">

				{{ partialCached "top_navigation.html" . }}

				<!-- Main -->
					<div id="main">
						{{ partialCached "title_section.html" . }}

						{{ partial "highlighted_stories.html" . }}
						{{ range first 1 (where (where .Data.Pages "Type" "!=" "page") ".Params.unlisted" "!=" true ) }}
							{{ .Render "li" }}
						{{ end }}

						{{ partial "pagination.html" . }}
					</div>

			</div>

			

{{ end }}