{{ partial "header.html" . }}
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				{{ partial "top_navigation.html" . }}

				<!-- Main -->
					<div id="main">
					{{ partial "title_section.html" . }}

					<div class="row">
						<div class="12u$">
						<h1>{{ .Title | humanize }}</h1>
							<section id="category-list">
								<div class="mini-posts">
								{{range (.Paginate (where (where .Data.Pages "Type" "post") ".Params.unlisted" "!=" true ) 9).Pages}}
									{{ .Render "summary"}}
								{{ end }}
								</div>
							</section>
						</div>
					</div>

						<div class="spacer"></div>

						{{ partial "pagination.html" . }}
					</div>

		</div>
		{{ partial "footer-links.html" . }}
	{{ partial "footer.html" . }}