{{ define "bodyclasses" }}
page subhomepage contentgrouptype-stories contentgroupname-{{ .Params.story_title | urlize }} article-title-subhomepage
{{ end }}

{{ define "main" }}
		
		<!-- Wrapper -->
			<div id="wrapper">

				{{ partialCached "top_navigation.html" . }}

				<!-- Main -->
					<div id="main">					
						<article class="post">
						<header {{ with .Params.story_style }}style="{{ . | safeCSS }}"{{end}}>
							<div class="title">
								<h2>{{ .Params.story_title }}</h2>
								{{ with .Params.story_subtitle }} <p>{{ . }}</p> {{ end }}
							</div>
						</header>
						<section>
							{{ with .Resources.GetMatch "sectionHeader" }}
							{{ $image := .Fill "900x600" }}
						<div class="full-width" style="background: no-repeat center/cover url({{ $image.RelPermalink }}); height: {{ with $.Params.story_header_height }} {{ . }} {{ else  }} 200px{{ end }};"></div>
						{{ end }}
							<div class="row">
								<div class="12u 12u$(medium)">
								{{ .Params.story_description }}
								{{ .Content }}
								</div>
							</div>
						</section>
						</article>

					<div class="row">
						<div class="12u$">
							<section id="category-list">
								<div class="mini-posts">
									{{ if eq .Params.unlisted true }}
									{{range (.Paginate ( where .Data.Pages "Type" "stories")  9).Pages}}
										{{ .Render "summary"}}
									{{ end }}
									{{ else }}
										{{range (.Paginate ( where .Data.Pages "Type" "stories")  9).Pages}}
											{{ if ne .Params.unlisted true }}
											{{ .Render "summary"}}
											{{ end }}
										{{ end }}
									{{ end }}
								</div>
							</section>
						</div>
					</div>

						<div class="spacer"></div>

						{{ partial "pagination.html" . }}
					</div>

		</div>
		
	{{ end }}