{{ define "bodyclasses" }}
page contentgrouptype-tag contentgroupname-{{ .Title | urlize }}	
{{ end }}

{{ define "main" }}
		
		<!-- Wrapper -->
			<div id="wrapper">

				{{ partialCached "top_navigation.html" . }}

				<!-- Main -->
					<div id="main">
						{{ partialCached "title_section.html" . }}

						<div class="row">
							<div class="12u$">
								<h1 class="center-text">{{ .Title | humanize }}</h1>
								<section id="category-list">
									<div class="mini-posts">
									{{ $loopTag := (.Paginate (where (where .Data.Pages "Type" "!=" "page") ".Params.unlisted" "!=" true ) 9).Pages }}
									{{range $loopTag }}					
										{{ .Render "summary"}}
									{{ end }}
									</div>
								</section>
							</div>
						</div>

						<div class="spacer"></div>

						{{ partial "pagination.html" . }}
					</div>

		</div>
		
	{{ end }}