{{ define "main" }}
	<body class="unlisted articles">
		{{ partialCached "googletagmanager.html" . }}
		<!-- Wrapper -->
			<div id="wrapper">

				{{ partialCached "top_navigation.html" . }}

				<!-- Main -->
					<div id="main">
					{{ partialCached "title_section.html" . }}

					<div class="row">
						<div class="12u$">

							<section id="category-list">
								<div class="mini-posts">

								{{ range where .Site.Pages ".Params.unlisted" "=" true  }}
									{{ .Render "summary"}}
								{{ end }}
								</div>
							</section>
						</div>
					</div>

						<div class="spacer"></div>


					</div>

		</div>
		
	{{ end }}