{{ $baseurl := .Site.BaseURL }}
<!-- Mini Post -->
<article class="mini-post">
	
	{{ if .Params.featured_image }}
		<a href="{{ .Permalink }}" title="{{ .Summary }}" class="image mini-featured-image">
		{{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
			<img src="{{ .Params.featured_image }}" alt="" />
		{{ else }}
			<img src="{{ .Params.featured_image | replaceRE ".jpg|.jpeg|.JPG" "_500.jpg" }}" alt="" />
		{{ end }}
		</a>
	{{ else }}
	<a href="{{ .Permalink }}" title="{{ .Summary }}" class="image mini-featured-image"><img src="{{ .Site.BaseURL }}images/fractal_thumb.png" alt="" /></a>
	{{ end }}
</article>