/*Article*/
.full-width-viewport{
	width: 100vw;
	}

article {
	.article-body img{
		width:100%;
	}
	img.image.right{
		width: 50%;
		float: right;
		padding-left: 1rem;
		@include media-breakpoint-down(md) {
			width: 100%;
			margin: 0 auto;
			padding-left:0;
		}
	}
	img.image.left{
		width: 50%;
		float: left;
		padding-right: 1rem;
		@include media-breakpoint-down(md) {
			width: 100%;
			margin: 0 auto;
			padding-right:0;
		}
	}
	img.image.center{
		margin: 0 auto 0 auto;
		display: block;
	}
	img.image.center.fullwidth, img.featured{
		width: 100%;
	}
	div.meta > a.author:after { 
	     content: "\A";
	     white-space: pre; 
	}	
	
	iframe{
		margin: 0 auto 0 auto;
		display: block;

	}
	table {
		margin: 0 auto 0 auto;
	}

	

	}

	section.article-body {
			p{word-break: break-word;}
			p, ul, ol, blockquote, h1,h2,h3,h4,h5,h6, table, pre, form  {
					@include media-breakpoint-up(md) {
						width:50%;
						margin-left: auto;
						margin-right: auto;
					}
					@include media-breakpoint-up(sm) {
						width: 70%;
						margin-left: auto;
						margin-right: auto;
					}
					@include media-breakpoint-down(sm) {
						margin-left:1rem;
						margin-right:1rem;
					}
			}
			blockquote > p{ width: 100%; }
			h1,h2,h3,h4,h5,h6{
				@include media-breakpoint-down(sm) {
					margin-left:1rem;
					margin-right:1rem;
				}
			}
		}
	body.single article > footer{
		background-color: $gray-200;
	 ul.stats{
		@include media-breakpoint-up(md) {
			width:50%;
			margin-left: auto;
			margin-right: auto;
		}
		@include media-breakpoint-up(sm) {
			width: 70%;
			margin-left: auto;
			margin-right: auto;
		}
		@include media-breakpoint-down(sm) {
			margin-left:1rem;
			margin-right:1rem;
		}

	}
}

twitterwidget{
	margin: 0 auto;
}

